@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-public-sans);
  --font-display: var(--font-manrope);
}

:root {
  --bg: #0d0d0d;
  --nav-bg: #141414;
  --surface: #292929;
  --button: #f3f3f6;
  --text-primary: #ffffff;
  --text-secondary: #929296;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
